/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../fonts/uni-sans/stylesheet.css);
@import url(sweetalert.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #777878; }

.container {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

body {
  margin-bottom: 60px; }

input[type="text"], select, .button {
  padding: 20px;
  border-radius: 4px;
  background-color: #f7f8f8;
  border-color: #dadadb;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  color: black; }

select {
  height: 60px;
  color: #a3a4a4;
  width: 145px;
  -webkit-appearance: none;
  background-image: url("../../assets/img/selectbox-arrow.png");
  background-repeat: no-repeat;
  background-size: 13px 25px;
  background-position: right 10px center; }

select option {
  text-align: center; }

textarea, input {
  outline: none; }

h1 {
  font-size: 36px;
  margin-top: 90px;
  margin-bottom: 50px;
  font-family: "PT Sans";
  font-weight: 100; }

#header {
  height: 75px;
  background-color: #222e46; }

#logo {
  top: 25px;
  left: 25px;
  height: 30px;
  position: absolute; }

table {
  width: 100%; }

table tr:nth-child(even) {
  background-color: #f0f4f8; }

td, th {
  padding: 25px;
  font-size: 19px;
  text-align: left;
  font-family: "PT Sans"; }

th {
  font-size: 17px; }

th a {
  text-decoration: none;
  color: #777878; }

table.sortable th span {
  background-image: url("../../assets/img/sort.png");
  background-size: 20px 20px;
  background-position-x: right;
  background-position-y: -1px;
  background-repeat: no-repeat;
  padding-right: 35px; }

table.sortable th a.active span {
  background-image: url("../../assets/img/sort-active.png"); }

table.sortable th a.active.reverse span {
  background-image: url("../../assets/img/sort-active-reverse.png"); }

td {
  position: relative;
  height: 19px; }

tr input[type="text"], tr select {
  border-radius: 0px;
  background-color: transparent;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 2px;
  font-family: "PT Sans";
  color: #777878;
  font-size: 19px;
  position: absolute;
  top: 10px;
  left: 8px; }

tr select {
  -webkit-appearance: none;
  border-radius: 0;
  height: 47px;
  text-align-last: left;
  background-image: url("../../assets/img/selectbox-arrow.png");
  background-repeat: no-repeat;
  background-size: 13px 25px;
  background-position: right 10px center; }

.pagination li {
  display: inline-block;
  margin-right: 10px; }

.pagination li a {
  color: #777878;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  text-align: center; }

.pagination li.active a {
  background-color: #eaebec; }

.pagination {
  margin-top: 90px;
  text-align: center; }

.actions img {
  height: 20px; }

.actions {
  float: right;
  width: 100px;
  position: absolute;
  right: 20px;
  top: 25px; }

.edit-user, .remove-user {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px 20px;
  cursor: pointer; }

.edit-user {
  background-image: url("../../assets/img/edit.png"); }

.edit-user.active, .edit-user:hover {
  background-image: url("../../assets/img/edit-active.png"); }

.remove-user {
  background-image: url("../../assets/img/remove.png"); }

.remove-user:hover {
  background-image: url("../../assets/img/remove-active.png"); }

.seperator {
  width: 1px;
  background-color: #cbd1d8;
  height: 35px;
  display: inline-block;
  margin-bottom: -8px;
  margin-top: -8px;
  margin-left: 20px;
  margin-right: 20px; }

.add-new-person-container {
  margin-bottom: 90px; }

.user-name {
  width: 388px; }

.add-new-person-container select {
  margin-left: 40px;
  width: 144px; }

.add-new-person img {
  height: 25px;
  margin-bottom: -7px; }

.add-new-person {
  background-image: url("../../assets/img/plus.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: relative;
  bottom: -2px; }

.add-new-person {
  margin-left: 30px;
  display: inline-block;
  width: 80px;
  margin-right: 0; }

th.name {
  width: 400px; }

th.gender {
  width: 180px; }

td.name input {
  width: 400px; }

td.gender select {
  width: 215px; }

th.age, td.age select {
  width: 90px; }

.modal {
  position: fixed;
  top: 20%;
  width: 800px;
  max-width: 100%;
  background-color: white;
  height: 300px;
  left: 50%;
  margin-left: -400px;
  z-index: 101; }

.modal-mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

.sweet-alert button {
  text-transform: uppercase;
  font-family: "PT Sans";
  padding-bottom: 32px;
  padding-top: 32px;
  width: 240px;
  font-size: 20px; }

.sweet-alert {
  font-family: "PT Sans";
  margin-top: -225px;
  left: 20%;
  margin-left: 0;
  height: 450px;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  border-radius: 0px; }

.sweet-alert h2 {
  font-weight: 100;
  margin-top: 60px;
  font-size: 36px;
  color: #777878; }

.sweet-alert p {
  font-size: 22px;
  color: #777878; }

.sa-button-container {
  margin-top: 90px; }

/*# sourceMappingURL=app.css.map */
