.pagination li {
  display: inline-block;
  margin-right: 10px;
}

.pagination li a {
  color: $text-color;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  text-align: center;
  
}

.pagination li.active a {
  background-color: #eaebec;
}

.pagination {
  margin-top: 90px;
  text-align: center;
}


