table {
  width: 100%;
}


table tr:nth-child(even) {
  background-color: #f0f4f8;
}

td,th {
  padding: 25px;
  font-size: 18px;
  text-align: left;
  font-family: "PT Sans";
}


th a {
  text-decoration: none;
  color: $text-color;
}