table {
  width: 100%;
}


table tr:nth-child(even) {
  background-color: #f0f4f8;
}

td,th {
  padding: 25px;
  font-size: 19px;
  text-align: left;
  font-family: "PT Sans";
}

th {
  font-size: 17px;
}


th a {
  text-decoration: none;
  color: $text-color;
}



table.sortable th span {
  background-image: url("../../assets/img/sort.png");
  background-size: 20px 20px;
  background-position-x: right;
  background-position-y: -1px;
  background-repeat: no-repeat;
  padding-right: 35px;
}


table.sortable th a.active span {
  background-image: url("../../assets/img/sort-active.png");
}

table.sortable th a.active.reverse span {
  background-image: url("../../assets/img/sort-active-reverse.png");
}



td {
  position: relative;
  height: 19px;
}

tr input[type="text"], tr select {
    border-radius: 0px;
    background-color: transparent;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 2px;
    font-family: $primary-font;
    color: $text-color;
    font-size: 19px;
    position: absolute;
    top: 10px;
    left: 8px;
}

tr select {
  -webkit-appearance: none;
  border-radius: 0;
  height: 47px;
  text-align-last: left;
  background-image: url("../../assets/img/selectbox-arrow.png");
  background-repeat: no-repeat;
  background-size: 13px 25px;
  background-position: right 10px center;
}


