.actions img {
  height: 20px;
}

.actions {
  float: right;
  width: 100px;
  position: absolute;
  right: 20px;
  top: 25px;
}

.actions span {

}

.edit-user, .remove-user {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 20px 20px;
  cursor: pointer;
}


.edit-user {
  background-image: url("../../assets/img/edit.png");
}

.edit-user.active, .edit-user:hover {
  background-image: url("../../assets/img/edit-active.png");  
}


.remove-user {
  background-image: url("../../assets/img/remove.png");
}

.remove-user:hover {
  background-image: url("../../assets/img/remove-active.png");
}


.seperator {
  width: 1px;
  background-color: $gray;
  height: 35px;
  display: inline-block;
  margin-bottom: -8px;
  margin-top: -8px;
  margin-left: 20px;
  margin-right: 20px;
}

.add-new-person-container {
  margin-bottom: 90px;
}

.user-name {
  width: 388px;
}

.add-new-person-container select {
  margin-left: 40px;
  width: 144px;
}


.add-new-person img {
  height: 25px;
  margin-bottom: -7px;
}

.add-new-person {
  background-image: url("../../assets/img/plus.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: relative;
  bottom: -2px;
}

.add-new-person {
  margin-left: 30px;
  display: inline-block;
  width: 80px;
  margin-right: 0;
}


th.name {
  width: 400px;
}

th.gender {
  width: 180px;
}

td.name input {
  width: 400px;
}

td.gender select {
  width: 215px;
}

th.age, td.age select {
  width: 90px;
}


